<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        th,
        tr,
        td,
        thead,
        tbody,
        table {
            border: 2px solid black;
        }

        td {
            text-align: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .newUser{
           /* margin-left: 70vw; */
           float: right;
           margin-right: 20vw;
        }
    </style>
</head>

<body>
    <button class="newUser"><a href="/users/new">Add New User</a></button> <br> <br>
    <table>
        <caption>All Users</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody>
            <% for( let i=0; i < usersArr.length; i++ ) { %>
                <tr>
                    <td>
                        <%= usersArr[i]['id'] %>
                    </td>
                    <td>
                        <%= usersArr[i]['username'] %>
                    </td>
                    <td>
                        <%= usersArr[i]['email'] %>
                    </td>
                    <td>
                        <%= usersArr[i]['password'] %>
                    </td>
                    <td> <button class="editBtn" >
                        <a href="/users/<%=usersArr[i]['id'] %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
                        </button>
                    </td>
                    <td> <button class="delBtn" >
                        <a href="/users/<%=usersArr[i]['id'] %>/delete"><i class="fa-regular fa-trash-can"></i></a>
                        </button>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>